<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.dao.PackageMapper">

    <select id="getPackageList" resultType="tws.entity.Packages">
        select * from packages
    </select>



    <insert id="addPackage">
        insert into packages
        values
        (#{package.key},#{package.ordernumber},#{package.receiver},#{package.telephone},#{package.weight},#{package.status},#{package.ordertime})
    </insert>


</mapper>
